@model IEnumerable<systmHotel.DAL.Entities.Employee>

    @{
    ViewData["Title"] = "Employee List";
    }

    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Position</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Position</td>
                <td>@employee.HireDate.ToShortDateString()</td>
                <td>@employee.Salary</td>
                <td>@employee.ContactNumber</td>
            </tr>
        }
        </tbody>
    </table>
