@model systmHotel.DAL.Entities.Booking

<!DOCTYPE html>
<html>
<head>
    <title>Booking Details</title>
    <style>
        dl {
            width: 300px;
            margin: 0 auto;
        }

        dt {
            font-weight: bold;
            margin-top: 10px;
        }

        dd {
            margin-left: 20px;
        }

        a {
            display: block;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Booking Details</h1>

    <dl>
        <dt>Client ID:</dt>
        <dd>@Model.ClientID</dd>

        <dt>Room ID:</dt>
        <dd>@Model.RoomID</dd>

        <dt>Booking Date:</dt>
        <dd>@Model.BookingDate.ToShortDateString()</dd>

        <dt>Start Date:</dt>
        <dd>@Model.StartDate.ToShortDateString()</dd>

        <dt>End Date:</dt>
        <dd>@Model.EndDate.ToShortDateString()</dd>

      @*  <dt>Total Amount:</dt>
        <dd>@Model.TotalAmount</dd>*@
    </dl>

    <a asp-action="Index">Back to List</a>
</body>
</html>
